*{
  font-family: 'Cairo Play', Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

:root{
  --alpha: 1;
  --lightHS: 0,0%;
  --lightL: 85%;
  --light: hsla(var(--lightHS),var(--lightL),var(--alpha));
  --darkHS: 0,0%;
  --darkL: 15%;
  --dark: hsla(var(--darkHS),var(--darkL),var(--alpha));
  --mainHS: 298,100%;
  --mainL: 14%;
  --main: hsla(var(--mainHS),var(--mainL),var(--alpha));
  --secHS: 228,94%;
  --secL: 14%;
  --sec: hsla(var(--secHS),var(--secL),var(--alpha));
  --thirdHS: 51,90%;
  --thirdL: 50%;
  --third: hsla(var(--thirdHS),var(--thirdL),var(--alpha));;
  --fourthHS: 196,69%;
  --fourthL: 27%;
  --fouth: hsla(var(--fourthHS),var(--fourthL),var(--alpha));
}

html{ font-size: 10px; }

body{ 
  position: relative;
  min-height: 100vh;
  background: linear-gradient(60deg,#2A2B22,#7AD9A1); 
}

